name: Update internal release

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    # TODO(stes): Update for release build
    branches:
      - main
      - public
    types:
      - labeled
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Cache dependencies
        id: pip-cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install wheel
          # NOTE(stes) see https://github.com/pypa/twine/issues/1216#issuecomment-2629069669
          pip install "packaging>=24.2"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and publish to Test PyPI
        if: ${{ (github.ref != 'refs/heads/main') && (github.event.label.name == 'release') }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
        run: |
          make dist
          ls dist/
          tar tvf dist/cebra-*.tar.gz
          python3 -m twine upload --verbose --repository testpypi dist/*

      - name: Build and publish to PyPI
        if: ${{ github.event_name == 'push' }}
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          make dist
          ls dist/
          tar tvf dist/cebra-*.tar.gz
          python3 -m twine upload --verbose dist/*
